<div class="container bg-primary-color">

  <nav class="navbar navbar-dark navbar-full" role="navigation">
    <ul class="nav navbar-dark navbar-toggleable-sm collapse" id="collapsiblecontent">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <img class="img-circle your-photo" src="../../assets/images/you.png" alt="Your photo" height="80" width="80">
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
    </ul>
  </nav>
</div>
