/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "~bootstrap/scss/bootstrap";

// mixins
@import "./mixins";

//
// Color system
//
$blue: #007bff !default;
$primary: $blue !default;
$theme-colors: () !default;
